body{
    background-color: #f3f3f3ed;
}
.parent{
    position: relative;
    width: 100%;
    height: 100%;
}
.partiehaute{
    width   : 100%;
    position:absolute;
    height: 50%;
}
.partiebasse{
    position:absolute;
    /*width: 100%;*/
    top: 400px;
    height: 40%;
    margin-left:80px;
    position : absolute;
}
/*pour centrer le tableau:*/
.table1{
    margin-top:20px;
    margin-left : 330px;
    position : absolute;
    /*left : 50%;*/
}
/*.table2{
    margin-top: 100px;
    position : absolute;
}*/

.left{
    text-align : left; 
    padding-right : 50px;
    padding-bottom : 20px;
    vertical-align : middle;
    color: #274d97;
    font-size:20px;
}
.center{
    padding-bottom : 20px;
    text-align : center;
    vertical-align : middle;
    color: #e86029;
}
.right{
    text-align : right; 
    padding-left : 50px;
    /*padding-bottom : 20px;*/
    vertical-align : middle;
    color: #274d97;
    font-size:20px;
}
th{
    text-align : left; 
    padding-right : 10px;
    padding-bottom : 10px; 
    padding-top: 5px;
}
.cln{
    border: 1px solid black; 
    color: #274d97;   
    font-size:19px;      
  }
.attention {
    color: #274d97; 
    padding-top :0px;
    text-align : center;
    font-size:17px; 
        position: relative;
        font-family: Geneva, sans-serif;
        font-size: 60px;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: linear-gradient(90deg, #e86029, #fff, #000);
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 3s infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
    0% {
        background-position: -500%;
        }
    100% {
        background-position: 500%;
        }
}

@media (max-width: 850px) { 
    .partiebasse{
    position:absolute;
    /*width: 100%;*/
    top: 500px;
    height: 40%;
    margin-left:0px;
    position : absolute;}
   
    .table1{
    margin-top:20px;
    margin-left : 5px;
    position : absolute;}

 }

@media (min-width: 865px) { 
    
 }

@media (min-width: 992px) { 
    
 }

@media (min-width: 1200px) { 
    
 }

.one{ 
    width: 30px;
}




